/* Colors  */
$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

/* Gradient */
$gradient-1: hsl(6, 100%, 80%);
$gradient-2: hsl(335, 100%, 65%);

$font-size: 14px;

$font-family: "Raleway", sans-serif;
/* Weights: 400, 700 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-family;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-mobile.png);
  background-color: $very-dark-blue;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 330px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-container {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  border-radius: 10px;
  border-top-right-radius: 110px;
  margin-bottom: 15px;
  width: 100%;

  & > img {
    margin-bottom: 35px;
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .icon-container {
    background-color: $very-dark-blue;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 13px;

    #icon-document {
      margin-left: 3px;
      margin-top: -2px;
    }
  }
}

.info-used-storage-container {
  background-color: $dark-blue;
  padding: 30px 30px 60px 30px;
  border-radius: 10px;
  width: 100%;

  h1 {
    color: $pale-blue;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1rem;

    span {
      font-weight: 700;
    }
  }

  .used-storage-bar {
    .used-storage-bar-outer {
      background-color: $very-dark-blue;
      height: 21px;
      border-radius: 10px;
      margin-bottom: 10px;

      .used-storage-bar-inner {
        background: linear-gradient(90deg, $gradient-1, $gradient-2);
        height: 15px;
        border-radius: 10px;
        width: 193px;
        position: relative;
        top: 3px;
        left: 3px;

        .circle {
          background-color: white;
          border-radius: 50%;
          height: 11px;
          width: 11px;
          position: relative;
          left: 180px;
          top: 2px;
        }
      }
    }
    .thresholds {
      display: flex;
      flex: row;
      justify-content: space-between;
      align-items: center;
      color: $pale-blue;
      font-weight: 700;
    }
  }
}

.used-space-information {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 10px 25px;
  border-radius: 10px;
  position: relative;

  top: -35px;
  left: 0px;

  .used-space-data {
    font-size: 3rem;
    font-weight: 700;
  }

  .used-space-gb-left {
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 700;
    color: $grayish-blue;
    white-space: nowrap;
  }
}

@media (min-width: 960px) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-position: top 100% left 0%;
    background-size: 100% 50%;
    height: 100vh;
    align-items: center;
    margin-left: 250px;
  }

  .container {
    width: 1200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    gap: 30px;
  }

  .menu-container {
    width: 70%;
  }

  .info-used-storage-container {
    margin-top: 45px;
    padding-bottom: 30px;

    h1 {
      text-align: left;
    }

    .used-storage-bar {
      .used-storage-bar-outer {
      
        .used-storage-bar-inner {
          width: 350px;
          
          .circle {
            left: 337px;
            top: 2px;
          }
        }
      }
    }
  }

  .used-space-information {
    top: -65px;
    left: -255px;
    padding: 10px 25px;

    .used-space-gb-left {
    }
  }

  .used-space-gb-left-triangle-down {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:20px solid white; 
  position: relative;
  top: -31px;
  left: -305px;
}
}